.desarrollo__texto {
    font-size: 1rem;
    text-align: justify;
}

.desarrollo__body {
    background-color: #D2E3FC;
}

.desarrollo__card {
    background-color: #082e7b;
    padding: 1rem;
    margin: 1rem;
}