.nav__logo {
    width: 10rem;
    height: 3rem;
}

.nav__titulo {
    color: black;
    font-size: 1.4rem;
}

.menu{
    text-align: center;
}

.nav {
    min-height: 5rem;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.nav li a:hover,
.nav .menu-btn:hover {
    color: black;
}

/* menu */

.nav .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.menu__item{
    color: black;
}

.nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.nav .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.nav .menu-icon .navicon:before {
    top: 5px;
}

.nav .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.nav .menu-btn {
    display: none;
}

.nav .menu-btn:checked~.menu {
    max-height: 240px;
}

.nav .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.nav .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.nav .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}


@media (min-width: 768px) {
    .nav li {
        float: left;
    }

    .nav li a {
        padding: 20px 30px;
    }

    .nav .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .nav .menu-icon {
        display: none;
    }
}