.card__texto {
    font-size: 1rem;
    text-align: justify;
}

.variantes__body {
    background-color: #D2E3FC;
}

.variantes__body {
    background-color: #D2E3FC;
    padding: 0px;
    margin: 0px;
}

.variantes__card {
    background-color: #082e7b;
    padding: 1rem;
    margin: 1rem;
}
